<p-table >
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Aplicação Min</th>
            <th>Preço Unitário</th>
            <th>Rentabilidade</th>
            <th>Taxa </th>
            <th>Ações </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>ff</td>
            <td>ff</td>
            <td>ff</td>
            <td>ff</td>
            <td>
                <button pButton pRipple type="button" label="Warning" class="p-button-raised p-button-warning"></button>
            </td>
        </tr>
    </ng-template>
</p-table>