<div class="card">
  <p-table #dt [value]="dashs" styleClass="p-datatable-striped" [rowHover]="true" [loading]="loading">
    <ng-template pTemplate="caption">
      <div class="p-grid">
        <div class="p-col-fixed">
          <div class="table-header">Dashboard</div>
        </div>
      </div>
      <div class="buttons">
        <div class="p-grid p-jc-start">

          <div class="p-col-fixed">
            <button pButton type="button" class="p-button-info" icon="pi pi-refresh" label="Atualizar"
              (click)="refresh()"></button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Nome <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="apliMin">
          Aplicação Min <p-sortIcon field="apliMin"></p-sortIcon>
        </th>
        <th pSortableColumn="priceUni">
          Preço Unitário <p-sortIcon field="priceUni"></p-sortIcon>
        </th>
        <th pSortableColumn="rentabi">
          Rentabilidade <p-sortIcon field="rentabi"></p-sortIcon>
        </th>
        <th pSortableColumn="taxa">
          Taxa <p-sortIcon field="taxa"></p-sortIcon>
        </th>
        <th style="width: 10rem">Açōes</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dash>
      <tr class="p-selectable-row">
        <td class="column">{{ dash.name }}</td>
        <td class="column">{{ dash.apliMin }}</td>
        <td class="column">{{ dash.priceUni }}</td>
        <td class="column">{{ dash.rentabi }} %</td>
        <td class="column">{{ dash.taxa }} %</td>
        <td>
          <div class="p-grid">

            <button pButton pRipple type="button" label="Investir " class="p-button-warning" icon="pi pi-chart-line"
              pTooltip="Investir" tooltipPosition="top" (click)="showEditDialog(dash.valor)"></button>


          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <p>Não há Açoes.</p>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator #pg id="pg" [rows]="10" [totalRecords]="counter" [rowsPerPageOptions]="[10, 25, 50]"
    (onPageChange)="paginate($event)">
  </p-paginator>
</div>

<p-dialog
    header="{{ alterDialogTitle }}"
    [(visible)]="isShowAlterDialog"
    [modal]="true"
    [style]="{ width: '20vw' }"
>
    <form [formGroup]="form">
        <div class="p-fluid forms-grid" style="margin: 1em 0">
            <div class="forms">
                <div class="p-grid">
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input
                                id="txt-name"
                                type="text"
                                pInputText
                                formControlName="name"
                                maxlength="100"
                            />
                            <label for="txt-name">Valor*</label>
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
      <button
          class="p-button-danger"
          type="button"
          pButton
          icon="pi pi-ban"
          (click)="isShowAlterDialog = false"
          label="Cancelar"
      ></button>
      <button
          class="p-button-success"
          type="button"
          pButton
          icon="pi pi-check"
          (click)="save()"
          [disabled]="!form.valid"
          label="Salvar"
      ></button>
  </p-footer>
</p-dialog>