<div class="card">
  <p-table #dt [value]="dashs" styleClass="p-datatable-striped" [rowHover]="true" [loading]="loading">
    <ng-template pTemplate="caption">
      <div class="p-grid">
        <div class="p-col-fixed">
          <div class="table-header">Dashboard</div>
        </div>
      </div>
      <div class="buttons">
        <div class="p-grid p-jc-start">

          <div class="p-col-fixed">
            <button pButton type="button" class="p-button-info" icon="pi pi-refresh" label="Atualizar"
              (click)="refresh()"></button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Nome <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Aplicação Min <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Preço Unitário <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Rentabilidade <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Taxa <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="width: 10rem">Açōes</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dash>
      <tr class="p-selectable-row">
        <td class="column">{{ dash.name }}</td>
        <td class="column">{{ dash.apliMin }}</td>
        <td class="column">{{ dash.priceUni }}</td>
        <td class="column">{{ dash.rentabi }} %</td>
        <td class="column">{{ dash.taxa }} %</td>
        <td>
          <div class="p-grid">

            <button pButton pRipple type="button" label="Investir " class="p-button-warning" icon="pi pi-chart-line"
              pTooltip="Investir" tooltipPosition="top" (click)="showEditDialog(dash.valor)"></button>


          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <p>Não há Açoes.</p>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator #pg id="pg" [rows]="10" [totalRecords]="counter" [rowsPerPageOptions]="[10, 25, 50]"
    (onPageChange)="paginate($event)">
  </p-paginator>
</div>